<h1>Games Found</h1>
<h2 id="searchQuery">Results for: '{{searchByTitle}}'</h2>

<main>
    {{!-- list of each game found in api --}}
    <ol>
        {{#each games}}
        <li id="gameList">
            {{name._text}}
            {{!-- button to select game, sends id of game back --}}
            {{!-- {{#if ../adding}} --}}
                <form method="POST" action="/manage/addGame1">
                    <input type="hidden" name="gid" value={{ _attributes.objectid }}>
                    <input type="hidden" name="title" value="{{name._text}}">
                    <button type="submit">Post this Game</button>
                </form>
            {{!-- {{/if}} --}}
            {{!-- {{#if ../selecting}}
                <form method="POST" action="/games/view">
                    <input type="hidden" name="gid" value={{ _attributes.objectid }}>
                    <input type="hidden" name="title" value="{{name._text}}">
                    <button type="submit">Post this Game</button>
                </form>
            {{/if}} --}}
        </li>
        {{/each}}
    </ol>

    <a id="backToSearch" href="/manage/addGame">Search for a Different Game</a>
</main>