<h1>Games Found</h1>
<a id="backToSearch" href="/manage/addGame">Search for a Different Game</a>
<br>
<h2 id="searchQuery">Results for: '{{searchByTitle}}'</h2>

<main>
    {{!-- list of each game found in api --}}
    <ol class="gameSearchResults">
        {{#each games}}
        <div>
        <li id="gameList">
            {{name._text}}
                {{#if ../postGame}}
                <form method="POST" action="/manage/addGame1">
                    <input type="hidden" name="gid" value={{ _attributes.objectid }}>
                    <input type="hidden" name="title" value="{{name._text}}">
                    <button type="submit">Post this Game</button>
                </form>
                {{/if}}
                {{#if ../searchDiscover}}
                <form method="POST" action="/games">
                    <input type="hidden" name="gid" value={{ _attributes.objectid }}>
                    <input type="hidden" name="searchTerm" value="{{name._text}}">
                    <input type="hidden" name="sortBy" value="{{../sortBy}}">
                    <button type="submit">Search for this Game</button>
                </form>
                {{/if}}
        </li>
        </div>
        {{/each}}
    </ol>

</main>