<section class="content-container">
    <div class="profile-container">
        <h1>User Profile</h1>
        <ul class="profile-info">
            <li><strong>First Name:</strong> {{user.firstName}}</li>
            <li><strong>Last Name:</strong> {{user.lastName}}</li>
            <li><strong>Username:</strong> {{user.username}}</li>
            <li><strong>Email:</strong> {{user.email}}</li>
            <li><strong>Location:</strong> {{user.location.properties.ShortString}}</li>
        </ul>
        <a href="/dashboard/{{user.username}}/update" class="settings-link">Edit Profile Settings</a>
        <br>
        <a href="/home" class="home-link">Homepage</a>
        <br>
        <a href="/games" class="home-link">Discover Games</a>
    </div>
    <div class="games-container">
        <h2>Your Games:</h2>
        <a href="/manage" class="home-link">Manage Games</a>
        <ul class="games-list">
            {{#each games}}
            <li class="gameEntry">
                <h2>{{gameTitle}}</h2>
                <img class="searchResultImage" alt="{{gameTitle}}" src="{{imgURL}}">
                <form method="POST" action="/manage/modifyGame">
                    <input type="hidden" name="gid" value={{_id}}>
                    <button type="submit">Modify Posting</button>
                </form>
            </li>
            {{/each}}
        </ul>
    </div>
    <div class="requests-container">
        <h2>Active Requests:</h2>
        {{#unless hasReqs}}
        <p>No active requests at this time.</p>
        {{/unless}}
        <ul class="request-list">
            {{#each requests}}
            <ul class="requestEntry">
                <li><strong>Username:</strong> {{reqUsername}}</li>
                <li><strong>First Name:</strong> {{reqFirstName}}</li>
                <li><strong>Last Name:</strong> {{reqLastName}}</li>
                <li><strong>Message:</strong> {{reqUserMsg}}</li>
                <form method="POST" action="/dashboard/viewrequest">
                    <input type="hidden" name="reqUserId" value={{reqUserId}}>
                    <input type="hidden" name="reqGame" value="{{gameId}}">
                    <input type="hidden" name="msg" value="{{reqUserMsg}}">
                    <button type="submit">View Details</button>
                </form>
                <br>
                <br>
            </ul>
            {{/each}}
        </ul>
    </div>
</section>