
{{#if message}}
    <h2>Message: {{message}}</h2>
    <div></div>
{{else}}
    <h1>Event Details</h1>
    <h2>Event Name: {{eventName}}</h2>
    <p>Event Description: {{eventDescription}}</p>
    <h3>Contact Information: {{contact}}</h3>
    <h3>Location: {{location}}</h3>
{{/if}}


{{#if isOwner}}
    <h2>
        RSVP'd Users: {{RSVEDUsers}}
    </h2>
    
    <div></div>
{{else}}
    <div></div>
{{/if}}

{{#if message}}
{{else}}
    {{#if hasRSVPED}}
    <button onclick="window.location.href='/events/rsvpRemove/{{{eventId}}}'">Remove RSVP</button>
    {{else}}
    <button onclick="window.location.href='/events/rsvpAdd/{{{eventId}}}'">RSVP</button>
    {{/if}}
    <div></div>
{{/if}}
<a href="/events">Back to events</a>
