<h1>Event Details</h1>
<h2>{{eventName}}</h2>
<h2>{{eventDescription}}</h2>
<h2>{{contact}}</h2>
<h2>{{message}}</h2>
{{#if message}}
  <a href="/events">Back to events</a>
{{else}}
    {{#if hasRSVPED}}
    <button onclick="window.location.href='/events/rsvpRemove/{{{eventId}}}'">Remove RSVP</button>
    {{else}}
    <button onclick="window.location.href='/events/rsvpAdd/{{{eventId}}}'">RSVP</button>
    {{/if}}
    <div></div>
    <a href="/events">Back to events</a>
{{/if}}