<form action="/games">
    <button>Go Back</button>
</form>

<img id="gameIMG" alt="{{g.gameTitle}} Picture" src={{g.imgURL}}>

<h1>{{g.gameTitle}}</h1>

<h2>Posted by: {{user}}</h2>

<h2>Condition: {{g.condition}}</h2>

<h2>Rating: {{g.averageRating}}</h2>

<h2>Posted on: {{g.datePosted}}</h2>

<h3>Description:</h3>
<p>{{{g.description}}}</p>

<br>
<h2>Reviews:</h2>
{{#if reviews}}
{{#each reviews}}
<div>
    <h4>Posted by: {{username}}</h4>
    <h4>Title: {{title}}</h4>
    <h4>Rating: {{rating}}/5</h4>
    <p>Reviewed on: {{date}}</p>
    <p>{{body}}</p>

</div>

{{/each}}
{{else}}
<h3>No reviews yet...</h3>
{{/if}}

<form method="POST" action="/request">
    <input type="hidden" name="gid" value={{g._id}}>
    <button type="submit">Make Request</button>
</form>