<form action="/games">
    <button>Go Back</button>
</form>

<img class="gameIMG" alt="{{g.gameTitle}} Picture" src={{g.imgURL}}>

<h1>{{g.gameTitle}}</h1>

<h2>Posted by: <a href="/community/{{g.ownerID}}">{{user}}</a></h2>

<h2>Condition: {{g.condition}}</h2>

<h2>Rating: {{g.averageRating}}</h2>

<h2>Posted on: {{g.datePosted}}</h2>

<h3>Description:</h3>
<p>{{{g.description}}}</p>

<br>
<h2>Reviews:</h2>
{{#if reviews}}
{{#each reviews}}
<div class="reviewList">
    <h3 class="reviewPageReviewer">Posted by: {{username}}</h3>
    <h2 class="reviewPageTitle">Title: {{title}}</h2>
    <h4>Rating: {{rating}}/5</h4>
    <p><strong>Reviewed on:</strong> {{date}}</p>
    <p>{{body}}</p>
    {{#if isMyReview}}
        <form action="/games/gameDetails/deleteReview" method="POST">
            <input type="hidden" name="rid" value="{{_id}}">
            <input type="hidden" name="gid" value={{../g._id}}>
            <button type="submit">Delete Review</button>
        </form>
    {{/if}}
</div>

{{/each}}
{{else}}
<h3>No reviews yet...</h3>
{{/if}}

<form method="POST" action="/request">
    <input type="hidden" name="gid" value={{g._id}}>
    <button type="submit">Make Request</button>
</form>

<form action="/community/writeGameReview/{{g._id}}">
    <button type="submit">Write a Review</button>
</form>