<h1 class="pageHeading">Remove a Game Posting</h1>

<main>
    {{!-- list of games posted by user --}}
    <div class="listDiv">
    <ol class="gameSearchResults">
        {{#each games}}
        <li class="gameList">
            <h2 class="gameTitle">{{gameTitle}}</h2>
            <p><strong>Posted on:</strong> {{datePosted}}</p>
            {{!-- button to select game, sends id of game back --}}
            <img class="searchResultImage" src="{{imgURL}}" alt="{{gameTitle}}">
            <form method="POST" action="/manage/removeGame">
                <button name="gameID" value={{_id}}>Remove this Game</button>
            </form>
        </li>
        {{/each}}
    </ol>
    </div>

    <a id="backToManageGames" href="/manage">Back to Manage Games</a>
</main>