{{!--
* Marcel Castillo
* I pledge my honor that I have abided by the Stevens Honor System
--}}

<article class="signup-container sign-container">
    <h1>Sign Up</h1>
    <form action="/signup" method="POST" class="signup-form" id="signup-form">
        <div class="inputs">
            <div class="form-group">
                <label for="firstName">First Name:</label>
                <br>
                <input type="text" id="firstName" name="firstName" value="{{signup.firstName}}">
            </div>

            <div class="form-group">
                <label for="lastName">Last Name:</label>
                <br>
                <input type="text" id="lastName" name="lastName" value="{{signup.lastName}}">
            </div>

            <div class="form-group">
                <label for="email">Email:</label>
                <br>
                <input type="email" id="email" name="email" value="{{signup.email}}">
            </div>

            <div class="form-group">
                <label for="location">Location:</label><div class="note"><p class="note">City, State Code | Ex: New York, NY</p></div>
                <br>
                <input type="text" id="location" name="location" value="{{signup.location}}">
            </div>

            <div class="form-group">
                <label for="username">Username:</label>
                <br>
                <input type="text" id="username" name="username" value="{{signup.username}}">
            </div>

            <div class="form-group">
                <label for="password">Password:</label>
                <br>
                <input type="password" id="password" name="password">
            </div>

            <div class="form-group">
                <label for="confirmPassword">Confirm Password:</label>
                <br>
                <input type="password" id="confirmPassword" name="confirmPassword">
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="submit-button" id="signupButton">Sign Up</button>
        </div>
        {{#if hasErrors}}
        <ul class="error-list" id="server-error-list">
            {{#each errors}}
            <li>
                {{this}}
            </li>
            {{/each}}
        </ul>
        {{/if}}
        <ul class="error-list" id="client-error-list" hidden></ul>
    </form>
    <p>Already have an account? <a href="/signin">Sign in here</a>.</p>
    <script src="https://code.jquery.com/jquery-3.6.4.js"
        integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>
    <script src="/public/js/signup.js" type="module"></script>
</article>