<h1>Update Events Here</h1>
<h2>Please Choose what event you would like to update</h2>
{{!-- HTML Errors --}}
{{!-- Use a drop down menu for the user to pick what they would like to change --}}
{{#if events}}
<ul id="eventsOwnedByUser">
    
    <ol>
      {{#each events}}
        <li>
          <strong>{{eventName}}</strong><br>
          Location: {{location}}<br>
          Description: {{description}}<br>
          Contact: {{email}}
        </li>
        <form action="/events/updateEvent" method="POST">
            <input type="hidden" name="eventId" value="{{_id}}">
            <button type="submit">Update</button>
        </form>
      {{/each}}
    </ol>
</ul>
{{else}}
    <p>You have no events.</p>
{{/if}}
  <a href="/events">Events Homepage</a>
