<section class="content-container">
    <div class="profile-container">
        <h1>{{reqUser.username}}'s Request</h1>
        <ul class="profile-info">
            <li><strong>First Name: </strong> {{reqUser.firstName}}</li>
            <li><strong>Last Name: </strong> {{reqUser.lastName}}</li>
            <li><strong>Email: </strong> {{reqUser.email}}</li>
            <li><strong>Location: </strong> {{reqUser.location.properties.ShortString}}</li>
            <li><strong>User Rating: </strong> {{reqUser.rating}}</li>
            <li><strong>Game Requesting: </strong>{{reqGame.gameTitle}}</li>
            <li><strong>Message: </strong>{{reqMsg}}</li>
        </ul>
        {{!-- Approval --}}
        <form method="POST" action="/dashboard/viewrequest/approve">
            <input type="hidden" name="reqUserId" value={{reqUserId}}>
            <input type="hidden" name="reqGame" value="{{gameId}}">
            <input type="hidden" name="msg" value="{{reqUserMsg}}">
            <input type="hidden" name="approve" value="true">
            <button type="submit">Approve Request</button>
        </form>
        {{!-- Denial --}}
        <form method="POST" action="/dashboard/viewrequest/approve">
            <input type="hidden" name="reqUserId" value={{reqUserId}}>
            <input type="hidden" name="reqGame" value="{{gameId}}">
            <input type="hidden" name="msg" value="{{reqUserMsg}}">
            <input type="hidden" name="approve" value="false">
            <button type="submit">Deny Request</button>
        </form>
    </div>
</section>