<h1 class="reviewPageHeader">Reviews for: {{name}}</h1>
<h2 class="reviewPageRating">Average rating: {{avgRating}}</h2>

{{#if reviews}}
{{#each reviews}}
<div class="reviewList">
    <h3 class="reviewPageReviewer">Posted by: {{username}}</h3>
    <h2 class="reviewPageTitle">Title: {{title}}</h2>
    <h4>Rating: {{rating}}/5</h4>
    <p><strong>Reviewed on:</strong> {{date}}</p>
    <p>{{body}}</p>
</div>
<br>
{{/each}}
{{else}}
<h3>No reviews yet...</h3>
{{/if}}



<form action="/community/writeUserReview/{{uid}}">
    <button>Write a Review for {{name}}</button>
</form>